<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1b6dbc5d1f.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Home Page</title>
    
    <link rel="stylesheet" href="../assets/css/entitystyle.css">
    <link rel="stylesheet" href="../assets/css/layoutStyle.css">

</head>

<body>
    <%- include("parts/header")%>
    <%- include("parts/chooses")%>
    
    
    <div class="container-fluid  ">
        <div class="row justify-content-center">
                <%for( var i =0; i < games.length;i++ ){%>
                <div class="card bigbox row text forbeing3d" style="max-width:20rem;">
                        <img class="card-img-top small3d" src="<%=games[i].imagePath%>" alt="Card image cap">
                        <div class="card-body row small3d" style="display: inline-block; width: 100%;">
                        <h5 class="card-title small3dfortext"><%=games[i].name%></h5>
                        <p class="card-text small3dfortext"><%=games[i].smalldis%></p>
                        <hr style="background: white; clear: both;width: 90%;">
                            <strong  class="small3dfortext">Price : $<%=games[i].price%></strong>
                        <a href="../game/<%=games[i].id%>" class="btn btn-primary small3d" style="display: inline-block; float: right;">Go somewhere</a>
                  </div>
                </div>
                <%}%>

        </div>

    </div>


</body>
</html>